@using Azure.Core
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.EntityFrameworkCore
@inject IViewLocalizer Localizer
@model FormEntry

@{
    ViewData["Title"] = ViewData["Category"];

    var formTitle = ViewBag.Form.FormTitleAr;
    var formSection1 = ViewBag.Form.FormSectionOneLabelAr;
    var formSection2 = ViewBag.Form.FormSectionTwoLabelAr;
    var formSection3 = ViewBag.Form.FormSectionThreeLabelAr;

    var question1 = ViewBag.Form.Question1;
    var question2 = ViewBag.Form.Question2;
    var question3 = ViewBag.Form.Question3;
    var question4 = ViewBag.Form.Question4;
    var question5 = ViewBag.Form.Question5;
    var question6 = ViewBag.Form.Question6;
    var question7 = ViewBag.Form.Question7;
    var question8 = ViewBag.Form.Question8;
    var question9 = ViewBag.Form.Question9;
    var question10 = ViewBag.Form.Question10;
    var question11 = ViewBag.Form.Question11;
    var question12 = ViewBag.Form.Question12;
    var question13 = ViewBag.Form.Question13;
    var question14 = ViewBag.Form.OpenQuestionAr;


    if (Thread.CurrentThread.CurrentCulture.Name != "ar")
    {
        formTitle = ViewBag.Form.FormTitleEn;
        formSection1 = ViewBag.Form.FormSectionOneLabelEn;
        formSection2 = ViewBag.Form.FormSectionTwoLabelEn;
        formSection3 = ViewBag.Form.FormSectionThreeLabelEn;

        question1 = ViewBag.Form.Question1EN;
        question2 = ViewBag.Form.Question2EN;
        question3 = ViewBag.Form.Question3EN;
        question4 = ViewBag.Form.Question4EN;
        question5 = ViewBag.Form.Question5EN;
        question6 = ViewBag.Form.Question6EN;
        question7 = ViewBag.Form.Question7EN;
        question8 = ViewBag.Form.Question8EN;
        question9 = ViewBag.Form.Question9EN;
        question10 = ViewBag.Form.Question10EN;
        question11 = ViewBag.Form.Question11EN;
        question12 = ViewBag.Form.Question12EN;
        question13 = ViewBag.Form.Question13EN;
        question14 = ViewBag.Form.OpenQuestionEn;
    }
    else
    {
        formTitle = ViewBag.Form.FormTitleAr;
        formSection1 = ViewBag.Form.FormSectionOneLabelAr;
        formSection2 = ViewBag.Form.FormSectionTwoLabelAr;
        formSection3 = ViewBag.Form.FormSectionThreeLabelAr;

        question1 = ViewBag.Form.Question1;
        question2 = ViewBag.Form.Question2;
        question3 = ViewBag.Form.Question3;
        question4 = ViewBag.Form.Question4;
        question5 = ViewBag.Form.Question5;
        question6 = ViewBag.Form.Question6;
        question7 = ViewBag.Form.Question7;
        question8 = ViewBag.Form.Question8;
        question9 = ViewBag.Form.Question9;
        question10 = ViewBag.Form.Question10;
        question11 = ViewBag.Form.Question11;
        question12 = ViewBag.Form.Question12;
        question13 = ViewBag.Form.Question13;
        question14 = ViewBag.Form.OpenQuestionAr;
    }
}

<div class="landing-root-container">
    <div class="landing-sub-container" id="landing-background">
        <div class="top-container">
            @await Html.PartialAsync("HeaderR")
            
            <div class="form2-root-container">

                <form method="post" asp-action="Index" class="form2-container">
                    <div asp-validation-summary="ModelOnly"></div>
                
                    <div class="form2__super-title-container">
                        <h1 class="form2__super-title-text">@formTitle</h1>
                    </div>

                    <div class="form2__section-container">
                        <div class="form2__section-title-container">
                            <h3 class="form2__section-title-text"> @formSection1</h3>
                        </div>

                        <div class="form2__input-container">
                            <label class="form2__label-text">@question1</label>
                            <div class="AgeGroupLabel">
                                <div>
                                    <input class="test" name="AgeGroup" type="radio" value="1" required="required">
                                    <label class="form2__label-text-1" for="checkbox1">@Localizer["AgeGroupLabel1"]</label>
                                </div>

                                <div>
                                    <input class="test" name="AgeGroup" type="radio" value="2">
                                    <label class="form2__label-text-1" for="checkbox1">@Localizer["AgeGroupLabel2"]</label>
                                </div>

                                <div>
                                    <input class="test" name="AgeGroup" type="radio" value="3">
                                    <label class="form2__label-text-1" for="checkbox1">@Localizer["AgeGroupLabel3"]</label>
                                </div>

                                <div>
                                    <input class="test" name="AgeGroup" type="radio" value="4">
                                    <label class="form2__label-text-1" for="checkbox1">@Localizer["AgeGroupLabel4"]</label>
                                </div>
                            </div>
                            <span asp-validation-for="AgeGroup" class="text-danger"></span>

                        </div>
                        <div class="form2__submit-container">
                            <input class="form2__submit" type="submit" name="" id="" value="@Localizer["submit"]">
                        </div>  
                        
                        <div class="form2_navigations-container">
                            <div class="form2__before-container">
                                <input class="form2__before" type="button" name="" id="before" value="@Localizer["before"]">
                            </div>
                            
                            <div class="form2__next-container">
                                <input class="form2__next" type="button" name="" id="next" value="@Localizer["next"]">
                            </div>
                        </div>
        

                    </div>
                    
                    

                </form>
            </div>
        </div>
    </div>

    <input type="hidden" value="@Thread.CurrentThread.CurrentCulture.Name" asp-for="Language">
    <input type="hidden" asp-for="CreationDate" value="@DateTime.Now">
    <input type="hidden" asp-for="Category" value="@ViewData["Category"]">
    <input type="hidden" asp-for="FormId" value="@ViewBag.Form.id">
    <input type="hidden" asp-for="Language" value="@Thread.CurrentThread.CurrentCulture.Name">
</div>

@Html.Hidden("title",0);
<script>
    const next = document.getElementById("next")
    const title = document.getElementById("title")
 
    
    next.addEventListener("click", () =>{
        console.log(`test value is ${title.innerHTML}`);
    })
</script>