@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.EntityFrameworkCore
@inject IViewLocalizer Localizer
@model Request

@{
    ViewData["Title"] = "Form";
}

<div class="header-container">

    <div class="header__head form-header-padding">

        <div class="header_top-elements-container">

            <div class=header__slogan-container>
                <p class="slogan-text">
                    @Localizer["slogen"]
                </p>
            </div>

            <a asp-controller="Home" asp-action="Index">
                <div class=header__logos-container>
                    <img src="/public/navbar_logo.png" alt="rc logo" width="154.3" height="45">
                </div>
            </a>

            <form asp-controller="Culture" asp-action="ToggleCulture" asp-route-returnUrl="@Context.Request.Path" method="post"
                  class="header__lang-switch-container">
                <button type="submit" class="header__lang-switch-container">
                    @if (Thread.CurrentThread.CurrentCulture.Name == "ar")
                    {
                        <p class="lang-switch-text">EN</p>
                    }
                    else
                    {
                        <div class="lang-switch-text">
                            ع
                        </div>
                    }
                    <div class="lang-switch-icon">
                        <img src="/public/lang.svg" alt="lang icon" width="18.3" height="18">
                    </div>
                </button>
            </form>
        </div>
    </div>
</div>


<div class="form-root-container">
<form method="post" asp-action="Index" class="form-container">
<div asp-validation-summary="ModelOnly"></div>

<div class="form__super-title-container">
    <h1 class="form__super-title-text">@Localizer["formTitle"]</h1>
</div>
<div class="form__section-container">
    <div class="form__sextion-title-container">
        <h3 class="form__section-title-text"> @Localizer["formSubSextion1"]</h3>
    </div>

    <div class="form__inputs-container">
        <div class="form__input-container">
            <label class="form__label-text">@Localizer["labelName1"]</label>
            <div class="AgeGroupLabel">
                <div>
                    <input class="test" name="AgeGrop" type="radio" value="@Localizer["AgeGroup"]">
                    <label class="form__label-text-1" for="checkbox1">@Localizer["AgeGroupLabel1"]</label>
                </div>

                <div>
                    <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                    <label class="form__label-text-1" for="checkbox1">@Localizer["AgeGroupLabel2"]</label>
                </div>

                <div>
                    <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                    <label class="form__label-text-1" for="checkbox1">@Localizer["AgeGroupLabel3"]</label>
                </div>

                <div>
                    <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                    <label class="form__label-text-1" for="checkbox1">@Localizer["AgeGroupLabel4"]</label>
                </div>
            </div>
        </div>

        <div class="form__input-container">
            <label class="form__label-text">@Localizer["labelName2"]</label>
            <div class="AgeGroupLabel">
                <div>
                    <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                    <label class="form__label-text-1" for="checkbox1">@Localizer["Sex1"]</label>
                </div>

                <div>
                    <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                    <label class="form__label-text-1" for="checkbox1">@Localizer["Sex2"]</label>
                </div>
            </div>

        </div>


        <div class="form__input-container">
            <label class="form__label-text">@Localizer["labelName3"]</label>
            <div class="AgeGroupLabel">
                <div>
                    <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                    <label class="form__label-text-1" for="checkbox1">@Localizer["eduLabel1"]</label>
                </div>

                <div>
                    <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                    <label class="form__label-text-1" for="checkbox1">@Localizer["eduLabel2"]</label>
                </div>

                <div>
                    <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                    <label class="form__label-text-1" for="checkbox1">@Localizer["eduLabel3"]</label>
                </div>

                <div>
                    <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                    <label class="form__label-text-1" for="checkbox1">@Localizer["eduLabel4"]</label>
                </div>

                <div>
                    <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                    <label class="form__label-text-1" for="checkbox1">@Localizer["eduLabel5"]</label>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="form__section-container">
<div class="form__sextion-title-container">
    <h3 class="form__section-title-text">@Localizer["formSubSection2"]</h3>
</div>

<div class="form__inputs-container">

<div class="form__input-container">
    <label class="form__label-text">@Localizer["labelName4"]</label>
    <div class="AgeGroupLabel">
        <div>
            <input class="test" name="AgeGroup" id="AgeGroup" type="radio" value="@Localizer["AgeGroup"]">
            <label class="form__label-text-1" for="checkbox1">@Localizer["vote1"]</label>
        </div>

        <div>
            <input class="test" name="AgeGroup" id="AgeGroup" type="radio" value="@Localizer["AgeGroup"]">
            <label class="form__label-text-1" for="checkbox1">@Localizer["vote2"]</label>
        </div>

        <div>
            <input class="test" name="AgeGroup" id="AgeGroup" type="radio" value="@Localizer["AgeGroup"]">
            <label class="form__label-text-1" for="checkbox1">@Localizer["vote3"]</label>
        </div>

        <div>
            <input class="test" name="AgeGroup" id="AgeGroup" type="radio" value="@Localizer["AgeGroup"]">
            <label class="form__label-text-1" for="checkbox1">@Localizer["vote4"]</label>
        </div>
    </div>
</div>

<div class="form__input-container">
    <div class="form__input-container">
        <label class="form__label-text">@Localizer["labelName4"]</label>
        <div class="AgeGroupLabel">
            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote1"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote2"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote3"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote4"]</label>
            </div>
        </div>
    </div>
</div>

<div class="form__input-container">
    <div class="form__input-container">
        <label class="form__label-text">@Localizer["labelName4"]</label>
        <div class="AgeGroupLabel">
            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote1"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote2"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote3"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote4"]</label>
            </div>
        </div>
    </div>
</div>

<div class="form__input-container">
    <div class="form__input-container">
        <label class="form__label-text">@Localizer["labelName4"]</label>
        <div class="AgeGroupLabel">
            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote1"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote2"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote3"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote4"]</label>
            </div>
        </div>
    </div>
</div>

<div class="form__input-container">
    <div class="form__input-container">
        <label class="form__label-text">@Localizer["labelName5"]</label>
        <div class="AgeGroupLabel">
            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote1"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote2"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote3"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote4"]</label>
            </div>
        </div>
    </div>
</div>

<div class="form__input-container">
    <div class="form__input-container">
        <label class="form__label-text">@Localizer["labelName6"]</label>
        <div class="AgeGroupLabel">
            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote1"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote2"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote3"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote4"]</label>
            </div>
        </div>
    </div>
</div>

<div class="form__input-container">
    <div class="form__input-container">
        <label class="form__label-text">@Localizer["labelName7"]</label>
        <div class="AgeGroupLabel">
            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote1"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote2"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote3"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote4"]</label>
            </div>
        </div>
    </div>
</div>

<div class="form__input-container">
    <div class="form__input-container">
        <label class="form__label-text">@Localizer["labelName8"]</label>
        <div class="AgeGroupLabel">
            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote1"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote2"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote3"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote4"]</label>
            </div>
        </div>
    </div>
</div>

<div class="form__input-container">
    <div class="form__input-container">
        <label class="form__label-text">@Localizer["labelName9"]</label>
        <div class="AgeGroupLabel">
            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote1"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote2"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote3"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote4"]</label>
            </div>
        </div>
    </div>
</div>

<div class="form__input-container">
    <div class="form__input-container">
        <label class="form__label-text">@Localizer["labelName10"]</label>
        <div class="AgeGroupLabel">
            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote1"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote2"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote3"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote4"]</label>
            </div>
        </div>
    </div>
</div>

<div class="form__input-container">
    <div class="form__input-container">
        <label class="form__label-text">@Localizer["labelName11"]</label>
        <div class="AgeGroupLabel">
            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote1"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote2"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote3"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote4"]</label>
            </div>
        </div>
    </div>
</div>

<div class="form__input-container">
    <div class="form__input-container">
        <label class="form__label-text">@Localizer["labelName12"]</label>
        <div class="AgeGroupLabel">
            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote1"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote2"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote3"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote4"]</label>
            </div>
        </div>
    </div>
</div>

<div class="form__input-container">
    <div class="form__input-container">
        <label class="form__label-text">@Localizer["labelName13"]</label>
        <div class="AgeGroupLabel">
            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote1"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote2"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote3"]</label>
            </div>

            <div>
                <input class="test" name="checkbox1" type="radio" value="@Localizer["AgeGroup"]">
                <label class="form__label-text-1" for="checkbox1">@Localizer["vote4"]</label>
            </div>
        </div>
    </div>
</div>


</div>
</div>

<div class="form__section-container">

    <div class="form__sextion-title-container">
        <h3 class="form__section-title-text">@Localizer["formSubSection3"]</h3>
    </div>

    <div>
        <label class="form__label-text">@Localizer["labelName14"]</label>
        <textarea class="form__input"></textarea>
    </div>
</div>


<div class="form__submit-container">
    <input class="form__submit" type="submit" name="" id="" value="@Localizer["submit"]">
</div>

</form>

</div>