@using Azure.Core
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@inject IViewLocalizer Localizer
@model FormEntry

@{
    ViewData["Title"] = ViewData["Category"];

    var formTitle = ViewBag.Form.FormTitleAr;
    var formSection1 = ViewBag.Form.FormSectionOneLabelAr;
    var formSection2 = ViewBag.Form.FormSectionTwoLabelAr;
    var formSection3 = ViewBag.Form.FormSectionThreeLabelAr;

    var question1 = ViewBag.Form.Question1;
    var question2 = ViewBag.Form.Question2;
    var question3 = ViewBag.Form.Question3;
    var question4 = ViewBag.Form.Question4;
    var question5 = ViewBag.Form.Question5;
    var question6 = ViewBag.Form.Question6;
    var question7 = ViewBag.Form.Question7;
    var question8 = ViewBag.Form.Question8;
    var question9 = ViewBag.Form.Question9;
    var question10 = ViewBag.Form.Question10;

    string? question11 = null;
    string? question12 = null;
    string? question13 = null;
    string? question14 = null;

    if (ViewBag.Form.Question11 != null)
    {
        question11 = ViewBag.Form.Question11;
    }

    if (ViewBag.Form.Question12 != null)
    {
        question12 = ViewBag.Form.Question12;
    }

    if (ViewBag.Form.Question13 != null)
    {
        question13 = ViewBag.Form.Question13;
    }

    if (ViewBag.Form.OpenQuestionAr != null)
    {
        question14 = ViewBag.Form.OpenQuestionAr;
    }


    if (Thread.CurrentThread.CurrentCulture.Name != "ar")
    {
        formTitle = ViewBag.Form.FormTitleEn;

        formSection1 = ViewBag.Form.FormSectionOneLabelEn;
        formSection2 = ViewBag.Form.FormSectionTwoLabelEn;
        formSection3 = ViewBag.Form.FormSectionThreeLabelEn;

        question1 = ViewBag.Form.Question1EN;
        question2 = ViewBag.Form.Question2EN;
        question3 = ViewBag.Form.Question3EN;
        question4 = ViewBag.Form.Question4EN;
        question5 = ViewBag.Form.Question5EN;
        question6 = ViewBag.Form.Question6EN;
        question7 = ViewBag.Form.Question7EN;
        question8 = ViewBag.Form.Question8EN;
        question9 = ViewBag.Form.Question9EN;
        question10 = ViewBag.Form.Question10EN;


        if (ViewBag.Form.Question11 != null)
        {
            question11 = ViewBag.Form.Question11EN;
        }

        if (ViewBag.Form.Question12 != null)
        {
            question12 = ViewBag.Form.Question12EN;
        }

        if (ViewBag.Form.Question13 != null)
        {
            question13 = ViewBag.Form.Question13EN;
        }

        if (ViewBag.Form.OpenQuestionAr != null)
        {
            question14 = ViewBag.Form.OpenQuestionEn;
        }
    }
    else
    {
        formTitle = ViewBag.Form.FormTitleAr;
        formSection1 = ViewBag.Form.FormSectionOneLabelAr;
        formSection2 = ViewBag.Form.FormSectionTwoLabelAr;
        formSection3 = ViewBag.Form.FormSectionThreeLabelAr;

        question1 = ViewBag.Form.Question1;
        question2 = ViewBag.Form.Question2;
        question3 = ViewBag.Form.Question3;
        question4 = ViewBag.Form.Question4;
        question5 = ViewBag.Form.Question5;
        question6 = ViewBag.Form.Question6;
        question7 = ViewBag.Form.Question7;
        question8 = ViewBag.Form.Question8;
        question9 = ViewBag.Form.Question9;
        question10 = ViewBag.Form.Question10;

        if (ViewBag.Form.Question11 != null && ViewBag.Form.Question13 != null)
        {
            question11 = ViewBag.Form.Question11;
        }

        if (ViewBag.Form.Question12 != null && ViewBag.Form.Question12 != null)
        {
            question12 = ViewBag.Form.Question12;
        }

        if (ViewBag.Form.Question13 != null && ViewBag.Form.Question13 != null)
        {
            question13 = ViewBag.Form.Question13;
        }

        if (ViewBag.Form.OpenQuestionAr != null && ViewBag.Form.OpenQuestionAr != null)
        {
            question14 = ViewBag.Form.OpenQuestionAr;
        }
    }
}

<div class="landing-root-container">
<div class="landing-sub-container" id="landing-background">
<div class="top-container">
@await Html.PartialAsync("HeaderR")

<div class="form2-root-container">

<form method="post" asp-action="Index" class="form2-container">
<div asp-validation-summary="ModelOnly"></div>

<div class="form2__super-title-container">
    <h1 class="form2__super-title-text" id="formTitle">@formTitle</h1>
</div>

<div class="form2__section-container">
    <div class="form2__section-title-container" id="section1Container">
        <h3 class="form2__section-title-text"> @formSection1</h3>
    </div>

    <div class="form2__input-container" id="Question1">
        <label class="form2__label-text">@question1</label>
        <div class="AgeGroupLabel">
            <div>
                <input class="test" name="AgeGroup" type="radio" value="1" required="required">
                <label class="form2__label-text-1" for="checkbox1">@Localizer["AgeGroupLabel1"]</label>
            </div>

            <div>
                <input class="test" name="AgeGroup" type="radio" value="2">
                <label class="form2__label-text-1" for="checkbox1">@Localizer["AgeGroupLabel2"]</label>
            </div>

            <div>
                <input class="test" name="AgeGroup" type="radio" value="3">
                <label class="form2__label-text-1" for="checkbox1">@Localizer["AgeGroupLabel3"]</label>
            </div>

            <div>
                <input class="test" name="AgeGroup" type="radio" value="4">
                <label class="form2__label-text-1" for="checkbox1">@Localizer["AgeGroupLabel4"]</label>
            </div>
        </div>
        <span asp-validation-for="AgeGroup" class="text-danger"></span>

    </div>

    <div class="form2__input-container" id="Question2">
        <label class="form2__label-text">@question2</label>
        <div class="AgeGroupLabel">
            <div>
                <input class="test" name="Sex" type="radio" value="Male" required="required">
                <label class="form2__label-text-1" for="checkbox1">@Localizer["Sex1"]</label>
            </div>

            <div>
                <input class="test" name="Sex" type="radio" value="Female">
                <label class="form2__label-text-1" for="checkbox1">@Localizer["Sex2"]</label>
            </div>
        </div>
        <span asp-validation-for="Sex" class="text-danger"></span>

    </div>

    <div class="form2__input-container" id="Question3">
        <label class="form2__label-text">@question3</label>
        <div class="AgeGroupLabel">
            <div>
                <input class="test" name="Education" type="radio" value="1" required="required">
                <label class="form2__label-text-1" for="checkbox1">@Localizer["eduLabel1"]</label>
            </div>

            <div>
                <input class="test" name="Education" type="radio" value="2">
                <label class="form2__label-text-1" for="checkbox1">@Localizer["eduLabel2"]</label>
            </div>

            <div>
                <input class="test" name="Education" type="radio" value="3">
                <label class="form2__label-text-1" for="checkbox1">@Localizer["eduLabel3"]</label>
            </div>

            <div>
                <input class="test" name="Education" type="radio" value="4">
                <label class="form2__label-text-1" for="checkbox1">@Localizer["eduLabel4"]</label>
            </div>

            <div>
                <input class="test" name="Education" type="radio" value="5">
                <label class="form2__label-text-1" for="checkbox1">@Localizer["eduLabel5"]</label>
            </div>
        </div>
        <span asp-validation-for="Education" class="text-danger"></span>
    </div>


    <div class="form2__section-title-container" id="section2Container">
        <h3 class="form2__section-title-text">@formSection2</h3>
    </div>


    <div class="form2__input-container" id="Question4">
        <label class="form2__label-text">@question4</label>
        <div class="AgeGroupLabel">
            <div>
                <input class="test" name="Scale1" type="radio" value="1" required="required">
                <label class="form2__label-text-1" for="checkbox1">@Localizer["vote1"]</label>
            </div>

            <div>
                <input class="test" name="Scale1" type="radio" value="2">
                <label class="form2__label-text-1" for="checkbox1">@Localizer["vote2"]</label>
            </div>

            <div>
                <input class="test" name="Scale1" type="radio" value="3">
                <label class="form2__label-text-1" for="checkbox1">@Localizer["vote3"]</label>
            </div>

            <div>
                <input class="test" name="Scale1" type="radio" value="4">
                <label class="form2__label-text-1" for="checkbox1">@Localizer["vote4"]</label>
            </div>
        </div>
        <span asp-validation-for="Scale1" class="text-danger"></span>
    </div>

    <div class="form2__input-container" id="Question5">
        <label class="form2__label-text">@question5</label>
        <div class="AgeGroupLabel">
            <div>
                <input class="test" name="Scale2" type="radio" value="1" required="required">
                <label class="form2__label-text-1" for="checkbox1">@Localizer["vote1"]</label>
            </div>

            <div>
                <input class="test" name="Scale2" type="radio" value="2">
                <label class="form2__label-text-1" for="checkbox1">@Localizer["vote2"]</label>
            </div>

            <div>
                <input class="test" name="Scale2" type="radio" value="3">
                <label class="form2__label-text-1" for="checkbox1">@Localizer["vote3"]</label>
            </div>

            <div>
                <input class="test" name="Scale2" type="radio" value="4">
                <label class="form2__label-text-1" for="checkbox1">@Localizer["vote4"]</label>
            </div>
        </div>
        <span asp-validation-for="Scale2" class="text-danger"></span>
    </div>
</div>

<div class="form2__input-container" id="Question6">
    <label class="form2__label-text">@question6</label>
    <div class="AgeGroupLabel">
        <div>
            <input class="test" name="Scale3" type="radio" value="1" required="required">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote1"]</label>
        </div>

        <div>
            <input class="test" name="Scale3" type="radio" value="2">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote2"]</label>
        </div>

        <div>
            <input class="test" name="Scale3" type="radio" value="3">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote3"]</label>
        </div>

        <div>
            <input class="test" name="Scale3" type="radio" value="4">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote4"]</label>
        </div>
    </div>
    <span asp-validation-for="Scale3" class="text-danger"></span>
</div>

<div class="form2__input-container" id="Question7">
    <label class="form2__label-text">@question7</label>
    <div class="AgeGroupLabel">
        <div>
            <input class="test" name="Scale4" type="radio" value="1" required="required">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote1"]</label>
        </div>

        <div>
            <input class="test" name="Scale4" type="radio" value="2">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote2"]</label>
        </div>

        <div>
            <input class="test" name="Scale4" type="radio" value="3">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote3"]</label>
        </div>

        <div>
            <input class="test" name="Scale4" type="radio" value="4">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote4"]</label>
        </div>
    </div>
    <span asp-validation-for="Scale4" class="text-danger"></span>
</div>

<div class="form2__input-container" id="Question8">
    <label class="form2__label-text">@question8</label>
    <div class="AgeGroupLabel">
        <div>
            <input class="test" name="Scale5" type="radio" value="1" required="required">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote1"]</label>
        </div>

        <div>
            <input class="test" name="Scale5" type="radio" value="2">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote2"]</label>
        </div>

        <div>
            <input class="test" name="Scale5" type="radio" value="3">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote3"]</label>
        </div>

        <div>
            <input class="test" name="Scale5" type="radio" value="4">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote4"]</label>
        </div>
    </div>
    <span asp-validation-for="Scale5" class="text-danger"></span>
</div>

<div class="form2__input-container" id="Question9">
    <label class="form2__label-text">@question9</label>
    <div class="AgeGroupLabel">
        <div>
            <input class="test" name="Scale6" type="radio" value="1" required="required">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote1"]</label>
        </div>

        <div>
            <input class="test" name="Scale6" type="radio" value="2">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote2"]</label>
        </div>

        <div>
            <input class="test" name="Scale6" type="radio" value="3">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote3"]</label>
        </div>

        <div>
            <input class="test" name="Scale6" type="radio" value="4">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote4"]</label>
        </div>
    </div>
    <span asp-validation-for="Scale6" class="text-danger"></span>
</div>

<div class="form2__input-container" id="Question10">
    <label class="form2__label-text" id="Question10Title">@question10</label>
    <div class="AgeGroupLabel">
        <div>
            <input class="test" name="Scale7" type="radio" value="1" required="required">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote1"]</label>
        </div>

        <div>
            <input class="test" name="Scale7" type="radio" value="2">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote2"]</label>
        </div>

        <div>
            <input class="test" name="Scale7" type="radio" value="3">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote3"]</label>
        </div>

        <div>
            <input class="test" name="Scale7" type="radio" value="4">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote4"]</label>
        </div>
    </div>
    <span asp-validation-for="Scale7" class="text-danger"></span>
</div>

<div class="form2__input-container" id="Question11">
    <label class="form2__label-text" id="Question11Title">@question11</label>
    <div class="AgeGroupLabel">
        <div>
            <input class="test" name="Scale8" type="radio" value="1" required="required">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote1"]</label>
        </div>

        <div>
            <input class="test" name="Scale8" type="radio" value="2">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote2"]</label>
        </div>

        <div>
            <input class="test" name="Scale8" type="radio" value="3">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote3"]</label>
        </div>

        <div>
            <input class="test" name="Scale8" type="radio" value="4">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote4"]</label>
        </div>
    </div>
    <span asp-validation-for="Scale8" class="text-danger"></span>
</div>

<div class="form2__input-container" id="Question12">
    <label class="form2__label-text" id="Question12Title">@question12</label>
    <div class="AgeGroupLabel">
        <div>
            <input class="test" name="Scale9" type="radio" value="1" required="required">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote1"]</label>
        </div>

        <div>
            <input class="test" name="Scale9" type="radio" value="2">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote2"]</label>
        </div>

        <div>
            <input class="test" name="Scale9" type="radio" value="3">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote3"]</label>
        </div>

        <div>
            <input class="test" name="Scale9" type="radio" value="4">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote4"]</label>
        </div>
    </div>
    <span asp-validation-for="Scale9" class="text-danger"></span>
</div>


<div class="form2__input-container" id="Question13">
    <label class="form2__label-text" id="Question13Title">question13</label>
    <div class="AgeGroupLabel">
        <div>
            <input class="test" name="Scale10" type="radio" value="1" required="required">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote1"]</label>
        </div>

        <div>
            <input class="test" name="Scale10" type="radio" value="2">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote2"]</label>
        </div>

        <div>
            <input class="test" name="Scale10" type="radio" value="3">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote3"]</label>
        </div>

        <div>
            <input class="test" name="Scale10" type="radio" value="4">
            <label class="form2__label-text-1" for="checkbox1">@Localizer["vote4"]</label>
        </div>
    </div>
    <span asp-validation-for="Scale10" class="text-danger"></span>
</div>

<div class="form2__section-title-container" id="section3Container">
    <h3 class="form2__section-title-text">@formSection3</h3>
</div>


<div class="form2__input-container" id="Question14">
    <label class="form__label-text">@question14</label>
    <textarea asp-for="OpenQuestion" class="form__input"></textarea>
    <span asp-validation-for="OpenQuestion" class="text-danger"></span>

</div>


<div class="form2__submit-container">
    <input class="form2__submit" type="submit" name="" id="" value="@Localizer["submit"]">
</div>

<div class="form2_navigations-container">
    <div class="form2__before-container">
        <input class="before-disabled" type="button" name="" id="before" value="@Localizer["before"]">
    </div>

    <div class="form2__next-container">
        <input class="before-disabled" type="button" name="" id="next" value="@Localizer["next"]">
    </div>
</div>


</form>
</div>
</div>
</div>

<input type="hidden" id="locale" value="@Thread.CurrentThread.CurrentCulture.Name" asp-for="Language">
<input type="hidden" asp-for="CreationDate" value="@DateTime.Now">
<input type="hidden" asp-for="Category" value="@ViewData["Category"]">
<input type="hidden" asp-for="FormId" value="@ViewBag.Form.id">
<input type="hidden" asp-for="Language" value="@Thread.CurrentThread.CurrentCulture.Name">
</div>

@section Scripts {
<script src="~/js/form.js"></script>
}