@page
@model ForgotPasswordModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    string title = "Forgot your password?";

    if (Thread.CurrentThread.CurrentCulture.Name == "ar")
    {
        title = "نسيت كلمة السر";
    }
    ViewData["Title"] = title;
}


<form id="account" method="post" class="landing-root-container">
    <div class="landing-sub-container" id="landing-background">
        <div class="top-container">
            @await Html.PartialAsync("HeaderR")

        </div>

        
        <div class="body-container">
            <div class="landing-title-container" style="justify-content: center; margin-top: 3em">
                <div style="color: white" class="form__super-title-container">
                    <h1 class="form__super-title-text">@Localizer["Rest Title"]</h1>
                </div>
            </div>
            
            <div
                asp-validation-summary="ModelOnly"
                style="text-align: center"
                class="error-message">

            </div>
            
           
            
            <div class="login__section-container">
                <div class="login-group">
                    <div class="email-container">
                        <label asp-for="Input.Email" class="login-label">@Localizer["email"]</label>
                        <input asp-for="Input.Email" class="form__input__small" autocomplete="username" aria-required="true" placeholder="@Localizer["email"]"/>
                        <span asp-validation-for="Input.Email" class="error-message-login"></span>
                        <div class="spacing"></div>
                    </div>
                    

                    <label asp-for="Input.CaptchaCode" class="login-label">@Localizer["captcha"]</label>
                    <img class="captcha-image" id="img-captcha" src="~/captcha-image"/>

                    <div class="password-container">

                        <input type="text"
                               asp-for="Input.CaptchaCode"
                               class="form__input__small"
                               placeholder="@Localizer["captcha"]"
                               autocomplete="off"
                               minlength="4"
                               maxlength="4"/>

                        <span asp-validation-for="Input.CaptchaCode" class="error-message-login"></span>
                        <div class="spacing"></div>
                    </div>

                    <div style="margin-top: 1em;">
                        <button id="login-submit" type="submit" class="login-submit">@Localizer["RestPassword"]</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
