@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model feedback.Models.Form
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Create";

    var test = Localizer["labelName6"];
}


@Model.FormTitleAr
@foreach (var entry in (List<FormEntry>)ViewBag.test)
{
    <li>Entry ID: @entry.Id, Data: @entry.AgeGroup</li>
}


@await Html.PartialAsync("Header")
<div class="return-super-container">
    <form asp-action="Index" class="return-container">
        <a class="return-text" asp-action="Index">@Localizer["Return"]</a>
    </form>
</div>



<div class="form__super-title-container">
    <h1 class="form__super-title-text" id="formTitle">
        @ViewBag.PageTitle
    </h1>


    <div class="form__create-container">

        <div class="form__create-input-container">
            <div class="form__input_inner-container">
                <label class="form__label-text">@Localizer["one"]</label>
                <label class="form__label-text">@ViewBag.Question1</label>
            </div>
            
            <canvas id="QuestionOne" width="400" height="200"></canvas>
        </div>


    </div>

</div>

<script>
    var ctx = document.getElementById('QuestionOne').getContext('2d');
        
    var charOne = new Chart(ctx, {
        type: 'bar',  // Chart type (bar, line, etc.)
        data: {
            labels: [
            '@Localizer["answerAge1"]',
            '@Localizer["answerAge2"]',
            '@Localizer["answerAge3"]',
            '@Localizer["answerAge4"]'],  // X-axis labels
            datasets: [{
                label: '@Html.Raw(ViewBag.Question1)',
                data: [
                @ViewBag.AgeCount1,
                @ViewBag.AgeCount2,
                @ViewBag.AgeCount3, 
                @ViewBag.AgeCount4,
                  ],  // Y-axis values
                borderColor: 'rgba(5, 41, 118, 1)',
                backgroundColor: 'rgba(5, 41, 118, 1)',
                borderWidth: 1
            }]
        },
        options: {
            responsive: true
        }
    });

</script>