@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers

@inject IViewLocalizer Localizer

@model IEnumerable<feedback.Models.Form>

@{
    ViewData["Title"] = "Index";

    string defaultClassCommunity = "nondefault-container";
    string defaultClassIndustry = "nondefault-container";

    int communityDefault = 0;
    int IndustryDefault = 0;

    if (ViewBag.communityDefault != null)
    {
        communityDefault = ViewBag.communityDefault;
    }

    if (ViewBag.IndustryDefault != null)
    {
        IndustryDefault = ViewBag.IndustryDefault;
    }


    string ClockDisplay(DateTime? endDate)
    {
        TimeSpan? timeDifference = endDate - DateTime.Now;

        if (timeDifference <= TimeSpan.Zero)
        {
            return "block";
        }

        return "none";
    }
}

@await Html.PartialAsync("Header")

<div class="create-super-container">
    <div class="create-container">
        <a class="create-text" asp-action="Create">@Localizer["Create"]</a>
    </div>
</div>

<div class="forms-super-container">

    @foreach (var item in Model)
    {
        var title = @Html.DisplayFor(modelItem => item.FormTitleAr);

        if (Thread.CurrentThread.CurrentCulture.Name != "ar")
        {
            title = @Html.DisplayFor(modelItem => item.FormTitleEn);
        }
        else
        {
            title = @Html.DisplayFor(modelItem => item.FormTitleAr);
        }

        if (communityDefault > 0 && item.id == communityDefault)
        {
            defaultClassCommunity = "default-container";
        }

        if (communityDefault > 0 && item.id != communityDefault)
        {
            defaultClassCommunity = "nondefault-container";
        }

        if (IndustryDefault > 0 && item.id == IndustryDefault)
        {
            defaultClassIndustry = "default-container";
        }

        if (IndustryDefault > 0 && item.id != IndustryDefault)
        {
            defaultClassIndustry = "nondefault-container";
        }

        <div class="forms-container">

            <div class="form-end-date-container" style="display: @ClockDisplay(item.EndDate)">
                <svg class="clock-container" version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     width="40px" height="40px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                    <g>
                        <circle fill="#F76D57" cx="32" cy="32" r="24"/>
                        <g>
                            <path fill="#000000" d="M32,0C14.328,0,0,14.328,0,32s14.328,32,32,32s32-14.328,32-32S49.672,0,32,0z M32,56
                C18.746,56,8,45.254,8,32S18.746,8,32,8s24,10.746,24,24S45.254,56,32,56z"/>
                            <path fill="#000000" d="M36,30.344V16c0-2.211-1.789-4-4-4s-4,1.789-4,4v16c0,0.523,0.105,1.039,0.309,1.527
                c0.203,0.492,0.496,0.938,0.867,1.305l7.934,7.934c1.566,1.566,4.168,1.645,5.734,0.078c1.562-1.562,1.582-4.074,0.016-5.641
                L36,30.344z"/>
                        </g>
                        <line x1="48" y1="16" x2="16" y2="48" stroke="#000000" stroke-width="6"/>
                    </g>
                </svg>

            </div>


            <div class="form-data-container" id="formData">
                <div class="form-title-container">
                    <h3 class="from-title-card-text">
                        @title
                    </h3>
                </div>
                <div class="form-responses-count-container">
                    <h4 class="responses-text">
                        @Html.DisplayFor(modelItem => item.FormEntries.Count)
                    </h4>
                </div>

                <div class="form-time-container">
                    <p class="form-date-text">
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </p>
                </div>
            </div>

            <div id="formControls" class="form-control-container">
                <div class="form-actions-container">
                    <a asp-action="Details" asp-route-id="@item.id"
                       class="form-action-view-text">
                        @Localizer["View"]
                    </a>
                    <a asp-action="Edit" asp-route-id="@item.id"
                       class="form-action-edit-text">
                        @Localizer["Edit"]
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.id"
                       class="form-action-delete-text">
                        @Localizer["Delete"]
                    </a>
                </div>


                <div class="setDefault-super-Container">
                    <div class="setDefault-sub-Container">
                        <form method="post" asp-action="SetDefaultForm">
                            <input type="submit" class="@defaultClassIndustry"
                                   value="@Localizer["Industry"]"/>

                            <input type="hidden" name="Category" value="Industry">
                            <input type="hidden" name="FormID" value="@item.id">
                        </form>

                        <form method="post" asp-action="SetDefaultForm">
                            <input type="submit" class="@defaultClassCommunity"
                                   value="@Localizer["Community"]"/>

                            <input type="hidden" name="FormID" value="@item.id">
                            <input type="hidden" name="Category" value="Community">

                        </form>

                    </div>
                </div>
            </div>
        </div>
    }


</div>