@model feedback.Models.Form

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Form</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questions2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questions2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questions3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questions3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questions4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questions4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questions5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questions5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questions6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questions6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questions7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questions7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questions8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questions8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questions9)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questions9)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questions10)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questions10)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questions11)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questions11)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questions12)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questions12)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questions13)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questions13)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question1EN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question1EN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questions2EN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questions2EN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questions3EN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questions3EN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questions4EN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questions4EN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questions5EN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questions5EN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questions6EN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questions6EN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questions7EN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questions7EN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questions8EN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questions8EN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questions9EN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questions9EN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questions10EN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questions10EN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questions11EN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questions11EN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questions12EN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questions12EN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questions13EN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questions13EN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
