@model IEnumerable<feedback.Models.Form>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions11)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions12)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions13)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question1EN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions2EN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions3EN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions4EN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions5EN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions6EN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions7EN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions8EN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions9EN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions10EN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions11EN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions12EN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions13EN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question1EN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions2EN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions3EN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions4EN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions5EN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions6EN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions7EN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions8EN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions9EN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions10EN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions11EN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions12EN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions13EN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
